.button-login {
    outline: none;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 30px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }
   
   .button-login span {
    position: relative;
    z-index: 10;
    color: aliceblue;
    transition: color 0.4s;
   }
   
   .button-login:hover span {
    color: black;
   }
   
   .button-login::before,
   .button-login::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .button-login::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .button-login:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
   @media (max-width: 767px) {
    .button-login {
        max-width: 70px;
        font-size: small;
    }
   }